/java/Test01/nbproject/private/
/java/Test01/build/
/web/tugas_01/nbproject/private/
/java/sister_p2_multi_threads/nbproject/private/
/java/ClientServerMultiThreading/nbproject/private/
/java/ClientServerMultiThreading/build/
/java/52012049_sister_praktikum_II/nbproject/private/
/java/52012049_sister_praktikum_III/nbproject/private/
/java/52012049_sister_praktikum_III/build/
/java/52012049_sister_praktikum_IV/build/
/java/52012049_sister_praktikum_IV/nbproject/private/
/java/52012049_sister_praktikum_IV/dist/
/java/SalesApp/nbproject/private/
/java/52012049_Mahasiswa_PBO_Praktikum_VI/nbproject/private/
/java/52012049_Mahasiswa_PBO_Praktikum_VI/build/
/web/nbproject/private/
/web/52012049_PWEB_Praktikum_III_CRUD/nbproject/private/
/web/52012049_PWEB_Praktikum_IV_CSS/nbproject/private/
/web/Template_Charisma_Master/nbproject/private/
/web/Template_Charisma_Master/bower_components/
/web/Template_Charisma_Master_Asli/nbproject/private/
/web/Template_Charisma_Master_Asli/bower_components/
/web/profile/nbproject/private/
/web/practice/nbproject/private/
/java/52012049_sister_praktikum_IV (copy)/build/
/java/52012049_sister_praktikum_IV (copy)/dist/
/java/52012049_sister_praktikum_IV (copy)/nbproject/private/
/java/52012049_sister_praktikum_Challenge/build/
/java/52012049_sister_praktikum_Challenge/dist/
/java/52012049_sister_praktikum_Challenge/nbproject/private/
/web/htdocs/E-commerce/website_01/nbproject/private/
/web/debug/nbproject/private/
/java/latihan/nbproject/private/
/java/52012049_SISTER_MID/nbproject/private/
/java/52012049_SISTER_MID/build/
/java/52012049_SISTER_MID/dist/