<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Design/first.css" type="text/css">
    </head>
    <body class="bg">
        <table>
            <tr>
            <img src="../img/agani.png">
            </tr>
        </table>        
        <div class="box">
            <div class="tulisan">
                Adakalanya Anda perlu melihat kode penyusun halaman
                web yang tertampil pada <i>browser</i> kalau ada sesuatu
                hasil dari PHP yang tidak diharapkan. 
            </div>
        </div>
        <div class="title-1">
            <div class="font-1">Hi, what's up?!</div>
            <div class="font-2">
                Informasi yang disampaikan ke <i>web server</i> antara lain
                adalah nama browser, versi, dan sistem operasinya.
            </div>
        </div>
        <div class="box">
            <div class="tulisan">
                PHP menyediakan konstanta bernama TRUE yang menyatakan benar dan 
                FALSE yag menyatakan salah.                
            </div>
        </div>
        <div class="tulisan">
            PHP menyediakan konstanta bernama TRUE yang menyatakan benar dan 
            FALSE yag menyatakan salah.
        </div>

    </body>
</html>
