/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2018, 12:45:32 AM
    Author     : aga
*/

.bg {
    background-color: rosybrown;

    
}

.title-1 {
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: darkslateblue;
    padding-top: 2%;
    padding-bottom: 2%;
}

.font-1{
    font-family: monospace;
    font-size: 18pt;
    color: white;
    text-align: center;
}

.font-2{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 10pt;
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.box{
    margin-left: 5%;
    margin-right: 70%;
    background-color: darkslategrey;
}

.tulisan{
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    color: whitesmoke;
    font-size: 8pt;
}

.pic {
    
    height: 350px;
    width: 600px;
}

.top-header {
    background-color: darkcyan;
    
}

.in-header {
    color: gold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-header {
    text-align: right;
}

.text {
    padding-right: 10px;
    padding-left: 10px;
}