/* 
    Created on : Mar 6, 2018, 1:01:41 AM
    Author     : aga
*/
body {
           max-width: 100%;
              height: auto;
    background-color:  black;
}
/*test*/
/*.sesuatu{
  
  background:green;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 25%;
  top: 100px;
  display: block;  
  width: 50%;
  height: 50%;
  border-radius: 50px 100px 150px 200px;
  box-shadow: 2px 5px 5px #555;
  border: 1px solid #080;
}*/


.foto {
      max-width: 100%;
         height: auto;
     margin-top: 15%;
  margin-bottom: 10%;
}
.judul {
    font-family: san serif;
     margin-top: 15%;
  margin-bottom: 10%;
          color: greenyellow;
}

.halo {
  font-size: 1.5em;
}

.nama {
    font-size: 2.5em;
  font-weight: bold;
}

.desk {
    font-size: 1.2em;
  font-weight: bold;
  font-family: monospace;
}

.animasi {
                       width: 135px;
                      height: 3px;
            background-color: black;
               border-radius: 2px;
      -webkit-animation-name: kedip;
  -webkit-animation-duration: 8s;
              animation-name: kedip;
          animation-duration: 8s;
   animation-iteration-count: infinite;
}

@-webkit-keyframes kedip {
  0%   {background-color: greenyellow;}
  25%  {background-color: burlywood;}
  50%  {background-color: peachpuff;}
  75%  {background-color: pink;}
  100% {background-color: greenyellow;}
}

@keyframes kedip {
  0%   {background-color: greenyellow;}
  25%  {background-color: burlywood;}
  50%  {background-color: peachpuff;}
  75%  {background-color: pink;}
  100% {background-color: greenyellow;}
  
}


.tipo {
                white-space: nowrap;
                   overflow: hidden;
                      width: 20em;
                  animation: type 4s steps(60, end);
  animation-iteration-count: infinite;
}

.tipo:nth-child(2){
  animation: type2 8s steps(60, end);
}


.span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

