/* 
    Created on : Mar 6, 2018, 1:01:41 AM
    Author     : aga
*/

body {
    background-image: url('/img/project/background.png');
    
}


.thumbnail {
    width: 100%;
}

.logo {
    margin: 20px;
}

.home-page {
    background-color: white;
    margin: 20px;
    padding: 5px;
}

.info-part, .story-part{
    margin: 20px;
}


.label {
    color: white;
}


.text-run {

    padding: 15px;
    color: blue;
}