/* 
    Created on : Mar 6, 2018, 1:01:41 AM
    Author     : aga
*/

body {
    background-image: url('/img/project/background.png');
    
}


.thumbnail {
    max-width: 750px;
    height: 85px;
}

.logo {
    margin: 20px;
}

.home-page {
    background-color: white;
    margin: 20px;
    padding: 10px;
}

.slider {
    
}

.info-part {
    background-color: #133d55;
}