/* 
    Created on : Mar 8, 2018, 8:43:21 AM
    Author     : aga
*/

body {
    background-color: plum;
    
}

.third {
    color: gray;
    padding-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: monospace;
}

.fourth {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;    
}

.bingkai {
    
    padding-top: 40px;
}
.quote {
    padding-top: 40px;
    color: purple;
}