/* 
    Created on : Mar 8, 2018, 8:43:21 AM
    Author     : aga
*/

body {

}


/*Header Icon*/
.line-break-up {
    margin: 2rem auto 2rem auto !important;
}

.line-break-down {
    margin: 2rem auto 2rem auto !important;
}

.header-box, .intro-box, .image-box {
    margin: 2rem auto !important;
}

.underline {
            width: 50px;
           height: 5px;
 background-color: #3498DB;
}

.header-title {
        font-size: 15pt;
      font-weight: bold;
            color: #5f616e;
}

.header-icon {
    margin: 1rem auto !important;
   opacity: 0.5;
}

.icon {
     width: 50px;
    height: auto;
}

/*Mail Box*/

.mail-box {
  margin: 2rem auto !important;
}

input[type=text], textarea {
    width: 80%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

h5 {
  text-transform: uppercase;
  font-weight: bold
}

p {
  font-size: 11pt;

}

.form-message {
  margin: 2rem auto !important;
}

/*Contact Box*/

.contact-box {
  margin: 2rem auto !important;
}

#map {
  background: yellow;
}

.contact-title {
  margin: 1rem auto !important;
  font-size: 11pt;
}

.contact-icon {
  width: 20px;
  height: auto;
}

.social-box {
  margin: 26px auto !important;
}

.social-text {
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: bold;
}

.social-icon {

}

.social-icon-image {
    width: 25px;
  height: auto;
  margin: 5px auto !important;
}


/*.email, .phone, .web, .location {
  margin-top: 10%;
       color: grey;
}

.sub-title {
  font-weight: bold;
        color: #FF6347;
}

.email, .location {
  text-align: left;
}

.phone, .web {
    text-align: right;
}


.line {
           width: 100%;
          height: 1px;
background-color: #FF6347;
      margin-top: 2%;
}

.photo {
    width: 100%;
    height: auto;
    text-align: center;
}

.maps {
    margin-top: 3%;
}*/