/* 
    Created on : Aug 6, 2018, 6:59:48 PM
    Author     : aga
*/

body {

}

/*Header Icon*/
.line-break-up {
    margin: 2rem auto 2rem auto !important;
}

.line-break-down {
    margin: 2rem auto 2rem auto !important;
}

.package-box {
  margin: 2rem auto !important;
}

h2, h4, h5 {
  font-family: 'Dosis', sans-serif;
  color: #6D6027;
  text-align: center;
}

h4 {
  font-weight: bold;
}

h5 {
  color: grey;
}

.portfolio-box {
  padding: 10px !important;
  background: #ecf0f1;
}

.image-box {
  margin-bottom: 15px !important;
}

.images {
  width: 100%;
  height: auto;
}

.portfolio-box:hover {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
}

.port-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease-out;
  background: #d2d7d3;
}

.port-overlay:hover {
  opacity: 0.9;
}

.read-button {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-style {
  padding: 1em 2em;
  border: none;
  color: #fff;
  background: #6D6027;
  font-family: 'Saira Extra Condensed';
  letter-spacing: 2px;
  font-size: 13pt;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}

.button-style:hover {
  color: #6D6027;
  background: #fff;
  -webkit-transition-duration: 0.3s;
}






/*-------------------------------------------*/

/*
.header-box, .intro-box, .image-box {
    margin: 2rem auto !important;
}

.underline {
            width: 50px;
           height: 5px;
 background-color: #3498DB;
}

.header-title {
        font-size: 15pt;
      font-weight: bold;
            color: #5f616e;
}

.header-icon {
    margin: 1rem auto !important;
   opacity: 0.5;
}

.icon {
     width: 50px;
    height: auto;
}


Project Box

.project-box {
                       margin: 2rem auto !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.project-box:hover {
           opacity: 0.5;
             color: blue;
  background-color: aquamarine;
        box-shadow: 10px 2px aqua;
     border-radius: 2px;
}

.project-image {
    width: 100%;
   height: auto;
  padding: 1rem !important;
}

.project-text {
  padding: 1rem !important;
  
}

h5 {
  font-weight: bold;
}

p {
  text-align: justify;
}

Button 

.pass-line {
             width: 100%;
            height: 1px;
  background-color: darkblue;
}

.project-title-box {
  padding: 1rem !important;
}

.project-title {
         border: 1px solid darkblue;
     text-align: center;
      font-size: 10pt;
  border-radius: 3px;
    font-weight: bold
}






.box-tag {
       border: 1px solid #FF6347 ;
   text-align: center;
      padding: 3%;
   margin-top: 5%;
  font-family: sans-serif;
  font-weight: bold;
        color: #FF6347;
}
.album {
    margin-top: 10%;
      position: relative;
         width: 100%;
}

.photo {
  display: block;
    width: 100%;
   height: auto;
  
}

.overlay {
    position: absolute;
         top: 0;
      bottom: 0;
        left: 0;
       right: 0;
      height: 100%;
       width: 100%;
     opacity: 0;
  transition: .3s ease;

}

.album:hover .overlay {
  opacity: 0.5;
}

.title {
  font-weight: bold;
        color: #FF6347;
}

.sub {
  font-size: 0.9em;
}*/
