/* 
    Created on : Aug 6, 2018, 6:59:48 PM
    Author     : aga
*/

body {
    
}

.box-tag {
       border: 1px solid #FF6347 ;
   text-align: center;
      padding: 3%;
   margin-top: 5%;
  font-family: sans-serif;
  font-weight: bold;
        color: #FF6347;
}
.album {
    margin-top: 10%;
      position: relative;
         width: 100%;
}

.photo {
  display: block;
    width: 100%;
   height: auto;
  
}

.overlay {
    position: absolute;
         top: 0;
      bottom: 0;
        left: 0;
       right: 0;
      height: 100%;
       width: 100%;
     opacity: 0;
  transition: .3s ease;

}

.album:hover .overlay {
  opacity: 0.5;
}

.title {
  font-weight: bold;
        color: #FF6347;
}

.sub {
  font-size: 0.9em;
}
