/* 
    Created on : Aug 5, 2018, 1:01:41 AM
    Author     : aga
*/

body {

}


.line-break-up {
      margin: 2rem auto 2rem auto !important;
}

.line-break-down {
      margin: 2rem auto 2rem auto !important;
}

.intro-box {
  margin: 2rem auto !important;
}

.underline {
             width: 50%;
            height: 5px;
  background-color: red;
}

.icon {
   width: 50%;
  height: auto;
}

.intro-icon {
   margin: 1rem auto !important;
  opacity: 0.5;
}


.intro-title {
  font-weight: bold;
}

.intro-text {
    font-size: 9pt;
        color: grey;
   text-align: justify;
  font-family: mono;
}

.image-frame {
          margin: 2rem auto !important;
          border: 5px solid black;
   border-radius: 1%;
         padding: rem !important;
background-color: grey;
}

.image {
   width: 100%;
  height: auto;
}

.icon-bar {
  text-align: center;
}

.icon-post {
   width: 10%;
  height: auto;
  margin: 1rem !important;
}

.profile-box {
       margin: 2rem auto!important;
  font-family: mono
}

.tag {
        width: 13%;
       height: auto;
  margin-left: 1rem
}

.profile {
      margin: 2rem auto !important;
   font-size: 11pt;
       color: grey;
  text-align: right;
}