/* 
    Created on : Aug 5, 2018, 1:01:41 AM
    Author     : aga
*/

body {
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.line-break-up {
    margin: 2rem auto 2rem auto !important;
}

.line-break-down {
    margin: 2rem auto 2rem auto !important;
}

.header-box, .intro-box, .image-box {
    margin: 2rem auto !important;
}

.underline {
            width: 50px;
           height: 5px;
 background-color: #3498DB;
}

.header-title {
        font-size: 15pt;
      font-weight: bold;
            color: #5f616e;
}

.header-icon {
    margin: 1rem auto !important;
   opacity: 0.5;
}

.icon {
     width: 50px;
    height: auto;
}

/*Intro Box & Data Box*/

.intro-text {
                font-size: 10pt;
                    color: grey;
              font-family: mono;
               box-shadow: 5px 5px aquamarine;
                  padding: 1rem !important;
-webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
            border-radius: 5px;
}

.intro-text:hover {
  background-color: #f0f8ff;
           opacity: 0.5;
}

.data-box {
    margin: 2rem auto !important;
}

.data {
         margin: 2rem auto !important;
      font-size: 10pt;
    font-weight: bold;
}

.icon-data {
           width: 20px;
          height: auto;
    margin-right: 1rem !important;
}

/*Image Box*/
.image-box {
    background-color: #f0f8ff;
          box-shadow: 5px 5px aquamarine;
       border-radius: 5px;
}

.image {
     width: 100%;
    height: auto;
}

.icon-link-box {
  text-align: center;
}

.icon-link {
                          width: 30px;
                         height: auto;
                         margin: 1rem !important;
                         filter: grayscale;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.icon-link:hover {
    opacity: 0.5;
}