/* 
    Created on : Aug 5, 2018, 1:01:41 AM
    Author     : aga
*/

body {

}

.line-break-up {
    margin: 2rem auto 2rem auto !important;
}

.line-break-down {
    margin: 2rem auto 2rem auto !important;
}

.image-box {
  margin: 2rem auto!important;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.image-profile {
  width: 100%;
  height: auto;
  -webkit-transition-duration: 0.7s;
    box-shadow: 10px 10px #D3CBB8;
}

.image-profile:hover {
  margin-bottom: 20px !important;
  margin-left: 10px !important;
  box-shadow: 0px 0px black;
  background-color: black;
}

.intro-box {
    margin: 2rem auto!important;
}

.intro-text {
  text-align: center;
  font-size: 11pt;
  font-family: 'Jua', sans-serif;
  margin: 1rem auto !important;  
}

.intro-data {
  margin: 1rem auto !important;
  color: black;
}

.icon-data {
  width: 20px;
  margin: 8px !important;
}

.data {
  font-size: 10pt;
  font-family: 'Jua', sans-serif; 
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Jua', sans-serif;
}

.intro-button {
  margin: 35px !important;
  text-align: center;
}

.button-style {
  padding: 10px 20px !important;
  font-family: 'Saira Extra Condensed';
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  -webkit-transition-duration: 0.7s;
  background: transparent;
  color: black;
}

.button-style:hover {
  background: transparent;
  color: gray;  
  border: 2px solid grey;
  box-shadow: 0px 0px #fff;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}

h5 {
  font-family: 'Saira Extra Condensed';
  color: black;
  margin-left: 6px !important;
  text-transform: capitalize;
}

.intro-social {
  margin: 2rem auto !important;
}

.icon {
  display: inline-block;
  margin: 5px !important;
}