/* 
    Created on : Mar 7, 2018, 6:24:02 PM
    Author     : aga
*/

body {
    background-color: lightpink;
}

.box {
    margin: 40px;
}

.title {
    font-size: 50px;
    padding-top: 20px;
}

.second-title {
    font-size: 30px;
    color: grey;
}

.third {
    font-size: 19px;
}

.fourth {
    color: grey;
    padding-left: 20px;
    padding-bottom: 20px;    
}

