/* 
    Created on : Aug 12, 2018, 6:24:02 PM
    Author     : aga
*/

* {
    animation: .5s all ease;
}

body {

}


.line-break-up {
    margin: 2rem auto 2rem auto !important;
}

.line-break-down {
    margin: 3rem auto 3rem auto !important;
}

.header-box {
    margin: 2rem auto !important;
}

.underline {
             width: 50%;
            height: 5px;
  background-color: #3498DB;
}

.header-title {
    font-size: 15pt;
  font-weight: bold;
        color: #5f616e;
}

.header-icon {
   margin: 1rem auto !important;
  opacity: 0.5;
}

.icon {
   width: 50px;
  height: auto;
}

.info-image {
  padding: 1rem !important;
  
}

.info-box {
                      padding: 1rem !important;
                       margin: 2rem auto !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
                   box-shadow: 5px 5px #afafaf;
                border-radius: 5px;
}

.info-box:hover {
  background-color: #e5e6eb;
             color: #19B5FE;
            border: transparent;
     border-radius: 5px;
        box-shadow: 5px 5px #afafaf;
}

.animated {
    text-align: justify;
}

.image {
   width: 50px;
  height: auto;
}

.info-work {
    font-size: 13pt;
  font-weight: bold;
        color: #3498DB;
}

.info-date, .info-place {
      color: grey;
  font-size: 10pt;
}

.info-place {
     margin: 1rem auto !important;
  font-size: 10pt;
}

.info-icon {
         width: 15px;
        height: auto;
  margin-right: 1rem !important;
}

.info-title {
    font-size: 13pt;
  font-weight: bold;
}



.hidden {
        height: 0px;
    transition: 0.5s all;
      overflow: hidden;
}

/*Education Box*/

.education-box {
                       margin: 2rem auto !important;
                      padding: 1rem !important;
                       border: transparent;
                   box-shadow: 5px 5px #e6e6fa;
                border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.education-box:hover {
           opacity: 0.5;
  background-color: #e6e6fa;
}

.education-image {
    padding: 1rem !important;
}

.education-text {
    font-weight: bold;
}

.education-date {
  font-weight: normal;
    font-size: 10pt;
        color: grey;
}

.education-title {
    font-size: 13pt;
}

.education-place {
      color: #19B5FE;
  font-size: 11pt;
}


/*Certificate Box*/
.certificate-box {
                       margin: 2rem auto !important;
                      padding: 1rem !important;
                border-radius: 5px;
                   box-shadow: 5px 5px aquamarine;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
                       border: transparent;
}

.certificate-box:hover{
           opacity: 0.5;
  background-color: aquamarine;
}

.certificate-text {
     font-weight: bold;
    padding-left: 1rem !important;
}

.certificate-builder {
      color: #19B5FE;
  font-size: 11pt;
}

.certificate-date {
    font-size: 10pt;
        color: grey;
  font-weight: normal;
}

.certificate-title {
    font-size: 11pt;
}