/* 
    Created on : Mar 7, 2018, 6:24:02 PM
    Author     : aga
*/

body {

}

#back{
      position:absolute;
       z-index:0;
    background:white;
       display:block;
    min-height:50%; 
     min-width:50%;
         color:yellow;
}

#content{
    position:absolute;
     z-index:1;
}

#textback
{
          color:aliceblue;
      font-size:100px;
     font-style: italic;

}
.judul {
      font-size: 2.7em;
     margin-top: 5%;
  margin-bottom: 5%;
}

.utama {
  -webkit-columns: 2 50px;
     -moz-columns: 2 50px;
          columns: 2 50px;
     margin-right: 10%;
}

.ikon {
          width: 5em;
  border-radius: 5%;
}

.nama {
        color: blue;
  font-weight: bold;
}

.lama {
      color: grey;
  font-size: 11pt;
}

.prof {
    font-size: 1.5em;
  font-weight: bold;
}

.isi {
     margin-top: 2%;
  margin-bottom: 5%;
          color: grey;
      font-size: 0.9em;
}

table {
  border-collapse: collapse;
           border: 1px solid #dddddd;
            width: 20%;
}

th {
     padding: 10%;
  text-align: center;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.skill {
    margin-bottom: 2%;
}


.kepala {
      font-size: 1.7em;
     margin-top: 5%;
  margin-bottom: 5%;
}

.kedua {
    margin-bottom: 2%;
}

.frame {
    margin-top: 5%;
}

.batas-akhir {
    margin-bottom: 10%;
}

.batas-awal {
       margin-top: 5%;
    margin-bottom: 5%;
}