/* 
    Created on : Mar 8, 2018, 7:54:39 PM
    Author     : aga
*/

body {

}

.line-top {
           width: 100%;
          height: 1px;
background-color: #FF6347;
      margin-top: 2.5%;
}

.box-tag {
       border: 1px solid #FF6347 ;
   text-align: center;
      padding: 3%;
   margin-top: 5%;
  font-family: sans-serif;
  font-weight: bold;
        color: #FF6347;
}


.progress .progress-bar {
               animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
           animation-duration: .6s;
}
@keyframes animateBar {
      0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.line-one {
     margin-top: 5%;
  margin-bottom: 1.3%;
     text-align: center;
          color: #FF6347;
    font-weight: bold;
}

.line-two {
     margin-top: 9.8%;
  margin-bottom: 3%;
     text-align: center;
          color: #FF6347;
    font-weight: bold;
}

.main, .sub, .second {
  font-size: 0.9em;
}

.main, .second {
        color: #FF6347;
  font-weight: bold;
}

.sub {
  text-align: right;
       color: grey;
}

.progress {
  margin-top: 6.3%;
}

.second {
  margin-top: 12%;
}

.side {
    margin-top: 5%;
}
